
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.res-text {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.input-field-label {
    line-height: 1;
    font-weight: 500;
    font-size: 17px;
    line-height: 32px;
}

.input-field {
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    /* border-color: #e4e4e7 !important; */
    border-width: 1px;
    border-radius:7px;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    box-sizing: border-box;
    box-shadow: 0 0 #0000, 0 0 #0000,  0 0 #0000, 0 0 #0000, 0 0 #0000;


    border: 1px solid rgb(203 213 225 / 1); 
    color: rgb(104 118 135 /1);
    font-size: 15px;
    font-weight: 500;
    line-height: 1.25rem;
    font-family: Public Sans,ui-sans-serif,system-ui,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.mar_right {
  margin-right : 15px
}

.two-fields {
  display: flex;
  padding-bottom: 10px;
}

.input-field-wrapper {
  padding-bottom: 10px;
  width: 100%;
}

.input-field-wrapper>:not([hidden])~:not([hidden]) {
  /* --tw-space-y-reverse: 0; */
  /* margin-top: calc(.5rem* calc(1 - var(--tw-space-y-reverse))); */
  margin-bottom: 5px;
}

.form-module {
  /* padding: 40px 40px 64px 40px; */
  margin: 50px 220px;
  box-sizing: border-box;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
}

.form-module-wrapper {
  /* padding: 20px 60px; */
  /* padding-right: 100px; */
}


.form-module-v-2 {
  /* padding: 40px 40px 64px 40px; */
  margin: 50px 0px;
  box-sizing: border-box;
    border: 2px solid #e5e7eb;
    border-radius: 10px;
}

.form-module-wrapper-v-2 {
  /* padding: 0px 20px; */
  /* padding-right: 100px; */
  position: relative;
}

.form-module-padding-v-2 {
  /* padding: 0px 50px; */
}

.main {
  /* padding: 60px;
  padding-bottom: 0px; */
}

.form-header {
  /* padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px; */
}

.form-header .main-heading {
  letter-spacing: -.025em;
    font-weight: 700;
    font-size: 30px;
    line-height: 2rem;
}
.form-header .main-content {
  margin-top: 3px;
  font-size: 16px;
}

.horizontal-divider {
  width: 100%;
  height: 1px;
  background-color: hsl(240 5.9% 90%);
  margin-top: 24px;
}


.sub_btn {
  background-color: #1e1d85;
  color: white;
  width: 170px;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;

  float: right;
}

.second_btn {
  background-color: #ccc;
  color: black;
  /* width: 170px; */
  border-radius: 6px;
  padding: 10px 25px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  float: right;
}

.second_btn:hover {
  background-color: #ccc;
  color: black;
  border: 1px solid;
}

.second_btn-red {
  color: #dd1d1d;
  background-color: #ffd7d7;
}

.second_btn-green {
  background-color: #c9f0db;
    color: green;
}



.sub_btn:hover {
  background-color: #f8f8f8;
  color: #0a5699;
  width: 170px;
  border-radius: 6px;
  padding: 10px 20px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 15px;
  float: right;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border: 1px solid #0a5699;
}



.website-loader {
  display: none;
  position: fixed;
  content: "";
  top: 0;
  width: 100%;
  z-index: 1055;
  height: 100%;
  background: rgb(255 255 255 / 74%);
}
.loader-pict {
  position: absolute;
  left: 50%;
  top: 57%;
  z-index: 1054;
  transform: translate(-50%, -50%);
}

.load-pict img {
  transform: translate(-50%, -50%);
}

.load-pict {
  width: 100%;
  height: 100%;
  background-color: #ffffffa8;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
}
.load-pict img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 3;
}

.copy-content {
  background-color: aliceblue;
    width: 200px;
    padding: 10px 15px;
    border-radius: 6px;
    
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    color: #155fa0;
}

.pointer {
  cursor: pointer;
}

/* .pro_radio_btn_1 {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 20px;
  padding: 8px 15px;
  margin: 0 15px 12px 0;
  transition: all .2s ease-out 0s;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
} */

.pro_radio_btn_1 {
  border: 1px solid rgb(153, 153, 153);
  border-radius: 16px;
  padding: 6px 12px;
  margin: 0 15px 12px 0;
  transition: all .2s ease-out 0s;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
}

.radio_brn-mian {
  display: flex;
  flex-wrap: wrap;
}

.pro_heading {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #000;
  display: block;
  text-align: left;
  margin-bottom: 12px;
  width: 100%;
}

.pro_selected {
  background-color: #cfecf7;
  font-weight: 600;
  border-color: #62c1e5;
  color: #000;
}

.side-bar-wrapper {
  padding: 2px 5px;
}

.side-bar-item {
  padding: 8px 16px;
  border-radius: 8px;
  font-weight: 500;
}

.side-bar-item-selected {
  background: #cee6fc;
  color: #0a5699;
  font-weight: 500;
}

.side-bar-item:hover {
background-color: #f8f8f8;
}

.side-bar {
  padding: 0px 20px
}

.side-bar-main {
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  min-height: 67vh;
  overflow-x: auto;
  
}

.form-module-inside {
  height: 58vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.pro_flex  {
  width: 100%;
}

.select_dropdown {
  height: 41.5px;
}

.checkbox-field {
  margin-right: 10px;
  margin-top: 5px;
  border: 1px solid;
}

.delete-btn {
  border: 1px solid rgb(203 213 225 / 1);
    height: 41px;
    padding: 6px 12px 10px 12px;
    padding-top: 6px;
    border-radius: 5px;


    border: 1px solid #dc3545; 
    color: rgb(104 118 135 /1);
    color: #dc3545;
    font-size: 15px;
    font-weight: 500;
}

.margin-right-16 {
  margin-right: 16px;
}


.work-exp-box {margin-bottom: 16px;
    border-radius: 5px;
    padding: 20px;
    padding-right: 5px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-right: 15px;
}